#!/bin/bash
set -e
echo "Start installing Arch Linux Package"

echo "install pacman Packagea"

sudo pacman -Sy --noconfirm

sudo pacman -S \
  hyprland hyprlock hyprpaper waybar wofi dunst \
  starship neovim ghostty nemo zsh sheldon base-devel \
  brightnessctl noto-fonts-cjk \
  fcitx5-skk fcitx5-im

echo "finish installing pacman package"

if ! command -v yay &>/dev/null; then
  echo "install yay"
  git clone https://aur.archlinux.org/yay.git
  cd yay
  makepkg -si
  yay -Syu
  cd ..
  rm -fr yay
  echo "finish installing yay"
else
  echo "have installed yet"
fi

if command -v yay &>/dev/null; then
  yay -S \
    ttf-hackgen obsidian qt5ct qt6ct kvantum kvantum-qt5 \
    everforest-gtk-theme-git nwg-look
  echo "finish installing yay package"
else
  echo "don't install yay, skip yay package"
fi
