.media-box {
  background-color: rgba(40, 40, 40, 0.8);
  color: white;
  padding: 6px;
  border-radius: 8px;
  font-family: "Noto Sans JP", sans-serif;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  margin: 0 6px;
}

label {
  font-size: 14px;
}
